body {
background: linear-gradient(#efeae9,30%,#f2eeed);
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align: center;
font-size: 14px;
color: #BDBAB9 ;
}


h1 {
  margin-bottom: 2px;
  color: #626161;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

img {
  width:inherit;
  height:inherit;
}

p {
margin-top: 2px;
}

.imgwrapper {
  margin-left: calc((100% - 200px)/2);
  margin-right: calc((100% - 200px)/2);
}

.cityimg {
  width: 200px;
  height: 200px;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cityimg img {
  display: inline-block;
  position: relative;
}

.overlaytext {
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  position: absolute;
  padding: 0;
  width: 200px;
  height: 200px;
  background-color: rgba(0,0,0,0);
  /*z-index: 10;*/

  color: white;
  font-weight: 450;
}

.navlink {
  width: 100%;
  height: 20px;
  clear: both;
}

.button {
  margin-left: calc((100% - 200px)/2);
  margin-right: calc((100% - 200px)/2);
  width: 200px;
  height: 20px;
  line-height: 20px;
  border: 2px solid #959393;
  background-color: white;

  text-align: center;
}

.imgwrapper h1 {
  margin-top: 80px;
}

@media (min-width: 600px) {
  .imgwrapper {
    padding: 0;
    margin-left: calc((100% - 640px)/2);
    margin-right: calc((100% - 640px)/2);

  }
  .cityimg {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin: 0 10px 20px 0;
    padding: 0;
  }
}
